*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:inherit
}
ul,li{
    list-style: none;
}

.list{
    width:50%;
    margin-left:50%;
    
}
.list>li{
    width:25%;
    float:left;
    

}
.list>li>a{
    
    display:inline-block;
    padding:20px 0px;
    font-size:15px;
    text-align:center;
}
.Panel{
    position: absolute;
    width:100%;
    height:-300px;
    top:300px;
    left:0%;
    background-color:black;
    transition:1s;
}
.Panel.on{
    top:0%;
}


