*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
    color:inherit
}
ul,li{
    list-style: none;
}
#mopanel{
    position:fixed;
    width:300px;
    height:100%;
    left:-300px;
    z-index: 10;
    background:rgba(0,0,0,0.6);
    transition: 0.5s;
}
#mopanel.on{
    left:0%;

}
.moGnb{
    position: absolute;
    width:100%;
    left:0%;
    top:15%;
    z-index: 50;
}

.moGnb>li{
    border-bottom:1px solid black;
}

.moGnb>li>a{
    display:block;
    width:100%;
    height:50px;
    line-height: 50px;
    background:#b5bab6;
    font-size:16px;
    color:white;
    box-sizing: border-box;
    padding-left:20px;

}
.sub1{
    display:none;
}
.sub1>li{
    border-bottom:1px solid black;
}

.sub1>li>a{
    display:block;
    width:100%;
    height:35px;
    line-height:35px;
    background:white;

}

.headerWrap{
    width:100%;
    background:skyblue;
    
}
.mobutton{
    display:none;
}

.header{
    width:1240px;
    height:150px;
    background:black;
    margin:0px auto;
    padding:10px 0px;
    
}
.logo{
    width:30%;
    height:100%;
    float:left;
    background:url(img/logo.jpg)no-repeat;
    background-size:cover;
    
}
.menu{
    width:70%;
    height:100%;
    float:right;
}

.u{
    width:100%;
    height:30px;
    margin-top:60px;
    position: relative;    
}
u::after{
    display:block;
    content:"";
    clear:both;
}
.u>li{
    width:20%;
    float:left;
}
.u>li>a{
    display:block;
    font-weight:bold;
    text-align:center;
    padding:10px;
    color:white;
    transition:0.5s;
}
.u>li>a.on{
    background:#eee;
    color:black;
}
.menu>ul>li>a:hover{
    background:white;
    color:black;
}
/*******sub */
.sub{
    display:none;
    position: absolute;
    z-index:50;
    width:20%
   
}
.sub>li>a{
    display:block;
    width:100%;
    padding:10px;
    background:#eee;
    color:black;
    box-sizing: border-box;
    text-align:center;
   
}
.sub>li>a:hover{
    background:black;
    color:white;


}


/*  */
.visualWrap{
    width:100%;
    height:800px;
    position: relative;
}
.visualWrap::after{
    display:block;
    content:"";
    clear:both;
}
.visualWrap>div{
    width:100%;
    height:100%;
    
    position: absolute;
    
    
  
}

.visual1{
    background:url(img/bg1.jpg)no-repeat;
    background-size:cover;
    left:0%;
}
.visual2{
    background:url(img/bg17.jpg)no-repeat;
    background-size:cover;
    left:-100%;
}
.visual3{
    background:url(img/bg18.jpg)no-repeat;
    background-size:cover;
    left:-200%;
}

.buttonlist::after{
    display:block;
    content:"";
    clear:both;
}
.buttonlist>li{
    width:15px;
    height:15px;
    float:left;
    background:url(img/btnVisual.png)0px -16px no-repeat;
    position: relative;
    top:-20px;
    left:50%;
    overflow: hidden;
    cursor: pointer;
    margin:0 10px;
    
}
.buttonlist>li.on{
    background-position:0 0;
}




.contents{
    width:1240px;
    padding:50px 0px;
    margin:0 auto;
}
.contents>div{
    padding-bottom:30px;
    width:100%;
}
.contents::after{
    display:block;
    content:"";
    clear:both;
}
.about::after{
    display:block;
    content:"";
    clear:both;
}
.about>h2{
    padding:20px 0;
    
}
.con{
    width:23%;
    float:left;
    margin-right:2%;
}
.con:last-child{
    margin-right:0%;
}
.img{
    width:100%;
    height:200px;
    overflow:hidden;
    cursor: pointer;
}
.scale{
    width:100%;
    height:100%;
    transition:0.5s
}
.scale1{
    background:url(img/bg2.jpg)no-repeat;
    background-size:cover;
}
.scale2{
    background:url(img/bg3.jpg)no-repeat;
    background-size:cover;
}
.scale3{
    background:url(img/bg4.jpg)no-repeat;
    background-size:cover;
}
.scale4{
    background:url(img/bg5.jpg)no-repeat;
    background-size:cover;
}
.img:hover .scale{
    transform: scale(1.3);
    opacity: 0.5;

}
.con>h3{
    padding:10px 0;
}

.guides::after{
    display:block;
    content:"";
    clear:both;
}
.guides>h2{
    padding:20px 0;
}
.guides>div{
    width:32%;
    float:left; 
    margin-right:2%;
}
.guides>div:last-child{
    margin-right:0%;
}
.guides>div>div{
    width:100%;
    height:250px;
    margin-bottom:20px;
    box-shadow: 5px 5px 10px black;
}
.gimg1{
    background:url(img/bg6.jpg)no-repeat;
    background-size:cover;
}
.gimg2{
    background:url(img/bg7.jpg)no-repeat;
    background-size:cover;
}
.gimg3{
    background:url(img/bg8.jpg)no-repeat;
    background-size:cover;
}
.Gallery::after{
    display:block;
    content:"";
    clear:both;
}
.Gallery>h2{
    padding:20px 0px;
}
.G1{
    width:49%;
    float:left;
    margin-right:2%;
}
.G2{
    width:49%;
    float:right;
}
.Gimg{
    width:100%;
    height:300px;
    position: relative;
    overflow: hidden;
    transition:1s;
}
.Gimg1{
    background:url(img/bg16.jpg)no-repeat;
    background-size:cover;
}

.Gimg2{
    background:url(img/bg17.jpg)no-repeat;
    background-size:cover;
}
.G1>p{
    font-size:20px;
    padding:10px 0;

}
.G2>p{
    font-size:20px;
    padding:10px 0;
}
.s{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    position: absolute;
    left:-100%;
    transition:1s;
}
.s>p{width:100%;
    height:100%;
    
    color:white;
    
    
}
.s>p>a{
    display:block;
    width:100%;
    height:100%;
    text-align: center;
    line-height:300px;
    font-size:20px;
    
    
}
.Gimg:hover .s{
    left:0%;
}
.footerWrap{
    width:100%;
    background:skyblue;
}
.footer{
    width:1240px;
    height:150px;
    margin:0px auto;
    background:lightblue;
    position: relative;
}
.icons{
    width:80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    
}
.icons>li{
    width:19%;
    float:left;
    text-align:center;
    color:white;
    font-size: 30px;
    border-right:2px solid white;
}

.icons>li:last-child{
    border-right:none;
}
.icons>li>p{
    padding:10px 0px;
    font-size:15px;
}
.icons>li:hover{
    color:red;
}

/* 태블릿 모드*/

@media(max-width:1260px){
    
    
    .header{
        width:100%;
        height:125px;
        padding:10px 10px;
        box-sizing: border-box;
    }
    .logo{
        background-position: center;
    }
    
    
    /*  */
    .visualWrap{
        width:100%;
        height:600px;
        
    }
  
    .contents{
        width:100%;
        padding:30px 40px;
        box-sizing: border-box;

    }
    .con{
        width:45%;
        float:left;
        margin:0 3% 3% 0;
    }
    .img{
        width:100%;
        height:250px;
 
    }
    .scale1{
        background-position: center;
    }
    .scale3{
        background-position: center;
    }
    .scale4{
        background-position: center;
    }
    .footer{
        width:100%;
        height:100px;
    }
    .icons>li{
        font-size: 25px;
    }    
}
/*모바일 버젼*/
@media(max-width:600px){
    
  
    .header{
        width:100%;
        height:150px;
        background:black;
        margin:0px auto;
        padding:10px 0px;
        position: relative;
        
    }
    .mobutton{
        display:block;
        position: absolute;
        top:10%;
        left:5%;
        color:white;
        font-size:30px;
        cursor: pointer;
        z-index: 50;
    }
    .logo{
        width:70%;
        height:80%;
        margin:0px auto;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
    }
    .menu{
        display:none;
    }
    
    /*  */
    .visualWrap{
        width:100%;
        height:400px;
    }

    
    .contents{
        width:100%;
        padding:20px 30px;
        
    }

    .about>h2{
        padding:20px 0;
        
    }
    .con{
        width:85%;
        float:none;
        margin-right:0%;
        margin:10px auto;
    }
    .con:last-child{
        margin-right:auto;
    }
  

   

    .guides>div{
        width:85%;
        float:none; 
        margin:10px auto;
    }
    .guides>div:last-child{
        margin-right:auto;
    }
    .guides>div>div{
        width:100%;
        height:200px;
        margin-bottom:20px;
        box-shadow: 5px 5px 10px black;
    }
   
    .G1{
        width:85%;
        float:none;
        margin:0px auto;
    }
    .G2{
        width:85%;
        float:none;
        margin:0px auto;
    }
    .Gimg{
        width:100%;
        height:200px;
        position: relative;
        overflow: hidden;
        transition:1s;
    }
    .Gimg1{
        background:url(img/bg16.jpg)no-repeat;
        background-size:cover;
    }
    
    .Gimg2{
        background:url(img/bg17.jpg)no-repeat;
        background-size:cover;
    }
    
    .s>p>a{
        display:block;
        width:100%;
        height:100%;
        text-align: center;
        line-height:200px;
        font-size:20px;
        
        
    }
    .footer{
        width:100%;
        height:100px;
        margin:0px auto;
        background:lightblue;
        position: relative;
    }
    .icons{
        width:85%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
        
    }
    .icons>li{
        width:19%;
        float:left;
        text-align:center;
        color:white;
        font-size: 20px;
        border-right:1px solid white;
    }
    
    .icons>li:last-child{
        border-right:none;
    }
    .icons>li>p{
        padding:10px 0px;
        font-size:15px;
    }
    .icons>li:hover{
        color:red;
    }

}

