
*{
    margin:0;
    padding:0;
    
}
ul,li{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:inherit;
}
.header{
    width:100%;
    
    background:pink;
}
.header::after{
    display:block;
    content:"";
    clear:both;
}
.menu{
    width:1240px;
    margin:0px auto;
    padding:5px;
}
.menu::after{
    display:block;
    content:"";
    clear:both;
}

.menu>li{
    width:20%;
    float:left;

    text-align: center;
    color:white;
    font-size:20px;
}
.menu>li>a{
    display:block;
    padding:10px 5px;
    color:white;

    
}
.menu>li>a:hover{
    background:white;
    color:pink;
}